
   @{
    ViewBag.Title = "ViewCalendar";
    }
<h1>My Calendar</h1>

<div id="calendar"></div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css"rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css"rel="stylesheet"/>

@section Scripts{ 
  <script src= "https://cdnjs.cloudfare.com/ajax/libs/moment.js/2.18.1/moment.min.js"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
                }
<script>
        $(document).ready(function()
        {
            $.ajax({
                type: "GET"
                url :
        })
        }
        function GenerateCalendar(events){
        $('#calendar').fullCalendar('destroy');
        $('#calendar').fullCalendar({
            contentHeight: 400,
            defaultDate: new Date(),
            timeFormat: 'h(:mm)a',
            header:{
                left: 'prev,next,today',
                center: 'title',
                right: 'month, basicWeek,basicDay, agenda',
           },
                eventLimit: true
                eventColor: '#378006',
                events: events
        }
        
     </script>
}